/*
Structure instruction：
    # [Default Css]
        - [Root Css]: :root { ... }
        - [Structure]: html, body, main, #wrap ...
        - [HtmlTag]: h1, a, ::-webkit-scrollbar ...

    # [Plugins]
        - [Plugins Modified]: Bootstrap Modals...
        - [Plugins SelfMade]: My Modals...

    # [Public Style]
        - [Simple Css]: typesetting, color ... ( Single Css )
        - [Elements]: button, checkbox, icon ... ( Simple Component )
        - [Components]: RWD_table, user_avatar ... ( Complex Components )

    # [Pages]
        - [Include Page]: header, footer
        - [Current Page]: #login, #about

    -- Author Comebuy
*/

@import url(https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;500;700&display=swap);
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/*######### [Default Css] #########*/
    /*====== [Root Css] ======*/
        :root {
            /* color */
            --primary: #D72873;
            --primary-hover: #D72873;
            --secondary: #F6A800;
            --dark: #292929;
            --gray: #666;
            --border: #c9c9c9;
            --background-light: #F1F8FF;

            /* font */
            --ff-default: 'Noto Sans TC';
            --fs-h1: 60px;
            --fs-h2: 48px;
            --fs-h3: 24px;
            --fs-h4: 20px;
            --fs-h5: 14px;
            --fs-p: 18px;
            --ff-FontAwesome: 'Font Awesome 5 Free';

            /* size */
            --comp-height: 50px;
            --header-height: 70px;
            --footer-mt: -16px;

            /* oval */
            --oval-view-width: 1920px; /* 可視範圍 */
            --oval-add-width: 80px; /* 超出範圍 */
            --oval-add-height: calc(var(--oval-add-width) * 0.36);
            --oval-width: calc(var(--oval-view-width) + var(--oval-add-width));
            --oval-height: calc(var(--oval-width) * 0.36);
            --oval-width-radius: calc(var(--oval-width) / 2);
            --oval-height-radius: calc(var(--oval-height) / 2);

            --oval-cover-bg-area: calc((100% * 0.36 / 2) - var(--oval-add-height));
        }

        @media (max-width: 991.98px){
            :root {
                --fs-h1: 36px;
                --fs-h2: 18px;
                --fs-h3: 18px;
                --fs-h4: 16px;
                --fs-h5: 12px;
                --fs-p: 14px;

                --comp-height: 46px;
                --header-height: 48px;

                --oval-view-width: 1000px;
            } 
        }


    /*====== [Structure] ======*/
        html { scroll-behavior: smooth; }
        body { font-family: 'Inter', var(--ff-default), 'Microsoft JhengHei', sans-serif; font-size: var(--fs-p); }
        #wrap { display: flex; flex-direction: column; margin-inline: auto; min-height: 100vh; min-height: 100dvh; max-width: 1920px; }
        main { flex-grow: 1; }


    /*====== [HtmlTag] =======*/
        a { color: var(--bs-dark); text-decoration: none; }
        a:hover { color: inherit; text-decoration: none; }
        label { margin-bottom: 0; }
        hr { opacity: 1; border-top-color: var(--border); }
        input[type=checkbox], input[type=radio] { accent-color: var(--dark); width: 1em; height: 1em; }
        h1, h2, h3, h4, h5, h6 { margin-bottom: 0; }
        ul > li::marker { color: var(--primary); }



/*######### [Plugins] #########*/
    /*====== [Plugins Modified] ======*/
        /*=== Bootstrap ===*/
            .breadcrumb { margin-bottom: 0; }
            .breadcrumb-item { --bs-breadcrumb-item-active-color: white; color: white; display: flex; align-items: center; }
            .breadcrumb-item a { color: white; }
            .breadcrumb-item + .breadcrumb-item::before { --bs-breadcrumb-divider-color: white; content: '\f054'; font-family: var(--ff-FontAwesome); font-weight: bold; font-size: 10px; vertical-align: middle; }
            button:focus { box-shadow: none !important; }
            .btn { --bs-btn-focus-box-shadow: transparent; display: inline-flex; align-items: center; justify-content: center; }
            .form-label { border-left: 7px solid #F6BD00; padding-left: 8px; margin-bottom: 10px; line-height: 1.1; }
            .form-control { height: var(--comp-height); }


    /*====== [Plugins SelfMade] ======*/
        /*=== js- ===*/



/*######### [Public Style] #########*/
    /*====== [Simple Css] ======*/
        /*=== typesetting ===*/
            .flex-center-a { display: flex; align-items: center; }
            .ch-gy-1 > *:not(:last-child) { margin-bottom: .25rem; }
            .ch-gy-2 > *:not(:last-child) { margin-bottom: .5rem; }
            .ch-gy-3 > *:not(:last-child) { margin-bottom: 1rem; }
            .ch-gy-4 > *:not(:last-child) { margin-bottom: 1.5rem; }

        /*=== color ===*/
            .c-primary { color: var(--primary); }
            .c-secondary { color: var(--secondary); }
            .c-gray { color: var(--gray); }

        /*=== font ===*/
            .fs-h1 { font-size: var(--fs-h1); }
            .fs-h2 { font-size: var(--fs-h2); }
            .fs-h3 { font-size: var(--fs-h3); }
            .fs-h4 { font-size: var(--fs-h4); }
            .fs-h5 { font-size: var(--fs-h5); }



    /*====== [Elements] ======*/
        /*=== deco ===*/
            .deco_bling { --container-max-w: 1140px; --container-w: var(--container-max-w); position: absolute; inset: 0; z-index: -1; }
            @media (max-width: 1199.98px){
                .deco_bling { --container-w: 960px; }
            }
            @media (max-width: 991.98px){
                .deco_bling { --container-w: 720px; }
            }
            @media (max-width: 767.98px){
                .deco_bling { --container-w: 540px; }
            }
            @media (max-width: 575.98px){
                .deco_bling { --container-w: 500px; }
            }
            .deco_bling::before,
            .deco_bling::after { content: ''; position: absolute; display: block;  width: 76px; aspect-ratio: 1/1; background: center center no-repeat; background-size: contain; }
            .deco_bling::before { background-image: url(../img/icon/bling-L.svg); top: min(40%, 350px); left: max(calc((100% - var(--container-w) - 10px) / 4), 8px); }
            .deco_bling::after { background-image: url(../img/icon/bling-R.svg); top: min(50%, 700px); right: max(calc((100% - var(--container-w) - 10px) / 4), 8px); }
            @media (max-width: 1199.98px){
                .deco_bling::before,
                .deco_bling::after { width: 64px; }
            }
            @media (max-width: 991.98px){
                .deco_bling::before { width: 48px; background-image: url(../img/icon/bling-sm-L.svg); top: max(80px, 15vw); }
                .deco_bling::after { width: 48px; background-image: url(../img/icon/bling-sm-R.svg); top: max(80px, 15vw); }
            }
            @media (max-width: 767.98px){
                .deco_bling::before,
                .deco_bling::after { width: 30px; }
            }



    /*====== [Components] ======*/
        /*=== loading ===*/
            .loading { display: none; position: fixed; inset: 0; background: rgba(0, 0, 0, 0.5); align-items: center; justify-content: center; z-index: 9999; color: white; font-size: 1.5rem; }
            .loading.active { display: flex; }


        /*=== banner_block ===*/
            .banner_block { min-height: 600px; max-height: 800px; width: 100%; aspect-ratio: 11/6; padding-block: calc(var(--oval-cover-bg-area) * 0.5) var(--oval-cover-bg-area); margin-bottom: calc(var(--oval-cover-bg-area) * -1); 
                display: flex; flex-direction: column; align-items: center; justify-content: center; overflow: hidden;
                background: center bottom no-repeat; background-size: cover; background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(../img/other.jpg); color: white; }
            .banner_title { font-size: var(--fs-h1); font-weight: bold; margin-bottom: .5rem; }
            @media (max-width: 991.98px){
                .banner_block { background-position: top center; background-size: 170%; padding-block: 0 300px; min-height: 480px; margin-bottom: -300px; }
            }


        /*=== oval_section ===*/
            .oval_section_margin_top { margin-top: calc(var(--oval-cover-bg-area) * -1); }
            .has_oval_section_atTop { margin-top: calc(var(--oval-cover-bg-area) * -1); padding-top: var(--oval-cover-bg-area); }
            .has_oval_section_atBottom { margin-bottom: calc(var(--oval-cover-bg-area) * -1); padding-bottom: var(--oval-cover-bg-area); }

            .oval_section { position: relative; color: white; z-index: 1; }
            .oval_section .oval_body { position: relative; height: 100%; padding-inline: 48px; padding-block: min(10%, 120px); min-height: var(--oval-height); }
            .oval_section .section_top_signboard { position: absolute; top: 0; left: 50%; transform: translate(-50%, -30%); }
            
            .oval_section > .oval_section_bg { --bg: var(--primary); position: absolute; inset: 0; z-index: -1; overflow: hidden; }
            .oval_section > .oval_section_bg._primary { --bg: var(--primary); }
            .oval_section > .oval_section_bg._secondary { --bg: var(--secondary); }
            .oval_section > .oval_section_bg::before { content: ''; display: block; position: absolute; width: 100%; height: var(--oval-height); clip-path: ellipse(var(--oval-width-radius) var(--oval-height-radius) at 50% 50%); background-color: var(--bg); left: 50%; top: 0; transform: translateX(-50%); z-index: -1; }
            .oval_section > .oval_section_bg._oval { background-image: linear-gradient(to bottom, transparent 0%, transparent var(--oval-height-radius), var(--bg) var(--oval-height-radius), var(--bg) calc(100% - var(--oval-height-radius)), transparent calc(100% - var(--oval-height-radius)), transparent 100%); }
            .oval_section > .oval_section_bg._oval::after { content: ''; display: block; position: absolute; width: 100%; height: var(--oval-height); clip-path: ellipse(var(--oval-width-radius) var(--oval-height-radius) at 50% 50%); background-color: var(--bg); left: 50%; bottom: 0; transform: translateX(-50%); z-index: -1; }
            .oval_section > .oval_section_bg._full { background-image: linear-gradient(to bottom, transparent 0%, transparent var(--oval-height-radius), var(--bg) var(--oval-height-radius)); }
            .oval_section > .oval_section_bg._full::after { content: ''; display: block; position: absolute; left: 0; right: 0; bottom: 0; height: var(--oval-height-radius); background: url(../img/bg_deco.png) center center no-repeat; background-size: cover; }

            @media (max-width: 991.98px){
                .oval_section .oval_body { padding-inline: 24px; padding-block: clamp(42px, 10%, 60px); }
                .oval_section .section_top_signboard { transform: translate(-50%, -40%); }
            }


        /*=== pill_section ===*/
            .pill_section { position: relative; padding-block: 50px 60px; overflow: hidden; background: url(../img/deco-pills-L.png) left calc(100% + 40px) no-repeat, url(../img/deco-pills-R.png) right 50px no-repeat, var(--background-light); }
            .pill_section.has_oval_section_atTop { padding-top: calc(var(--oval-cover-bg-area) + 50px); }
            .pill_section.has_oval_section_atBottom { padding-bottom: calc(var(--oval-cover-bg-area) + 60px); }
            @media (max-width: 991.98px){
                .pill_section { background-position: left calc(100% + 20px), right 30%; background-size: 120px 240px, 120px 270px; }
            }


        /*=== signboard ===*/
            .signboard { display: inline-flex; align-items: center; justify-content: center; text-align: center; white-space: nowrap; min-height: 90px; font-size: var(--fs-h2); font-weight: bold; border: 5px solid var(--primary); border-radius: 100vmax; padding: 8px 30px; background: white; color: var(--dark); }
            .signboard::before,
            .signboard::after { content: ''; display: block; margin-inline: 38px; width: 38px; height: 38px; background: center center no-repeat; background-size: contain; }
            
            .signboard_sm { min-height: 60px; font-size: var(--fs-h4); padding: 0 10px; }
            .signboard_sm::before,
            .signboard_sm::after { width: 20px; height: 20px; margin-inline: 20px; }

            .signboard_primary { border-color: var(--primary); }
            .signboard_primary::before,
            .signboard_primary::after { background-image: url(../img/icon/DiamondStar-primary.svg); }

            .signboard_secondary { border-color: var(--secondary); }
            .signboard_secondary::before,
            .signboard_secondary::after { background-image: url(../img/icon/DiamondStar-secondary.svg); }

            @media (max-width: 991.98px){
                .signboard { min-height: 42px; padding: 8px; border-width: 3px; }
                .signboard::before,
                .signboard::after { margin-inline: 12px; width: 20px; height: 20px; }
            }



/*######### [Pages] #########*/
    /*====== [Include Page] ======*/
        /*=== header ===*/
            header { position: fixed; display: flex; top: 0; left: max(0px, calc((100% - 1920px) / 2)); right: 0; width: min(100%, 1920px); z-index: 11; }
            header > .navbar { height: var(--header-height); margin-left: auto; display: inline-flex; background: white; border: 3px solid var(--primary); border-right: 0; border-radius: 100vmax 0 0 100vmax; margin-top: 36px; padding: 0 24px; }
            header .navbar-brand { position: absolute; width: 180px; top: 0; left: 16px; border-radius: 0 0 100vmax 100vmax; background: white; padding: 15px 20px 35px 20px; 
                box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25); backdrop-filter: blur(10px); z-index: 9; }
            .header_icons_group { display: flex; padding-left: 16px; }
            .header_icons_group > * { margin-left: 8px; }
            .header_icon { --size: 40px; display: flex; align-items: center; justify-content: center; width: var(--size); height: var(--size); border-radius: 100vmax; }
            .header_icon._lang { border: 2px solid var(--primary); color: var(--primary); font-weight: bold; width: auto; padding-inline: 12px; }

            .navbar-collapse > .navbar-nav > .nav-item > .nav-link { display: inline-flex; align-items: center; justify-content: center; color: var(--primary); padding: 16px; font-size: 20px; font-weight: bold; }
            .navbar-collapse > .navbar-nav > .nav-item > .nav-link::before { content: ''; display: block; margin-right: 6px; width: 20px; height: 20px; background: url(../img/icon/DiamondStar-primary.svg) center center no-repeat; }
            .navbar-toggler { border: 0; padding: 4px; margin-left: 12px; }
            @media (max-width: 1199.98px){
                header > .navbar { padding: 0 16px; }
                .header_icons_group { padding-left: 8px; }
                .navbar-collapse > .navbar-nav > .nav-item > .nav-link { padding: 16px 12px; }
            }
            @media (max-width: 991.98px){
                header { position: sticky; }
                header > .navbar { width: 100%; border: 0; border-radius: 0; margin-top: 0px; padding-inline: 0; }
                header .header_icon { --size: 32px; }
                header .navbar-brand { width: 120px; padding: 10px 15px 25px 15px; }
                header .navbar-collapse { position: fixed; top: var(--header-height); left: 0; right: 0; padding-inline: 16px; background: white; border-radius: 0 0 24px 24px; background-color: rgba(255,255,255,0.95); }
                header .navbar-collapse > .navbar-nav > .nav-item { text-align: center; }
                header .navbar-collapse > .navbar-nav > .nav-item > .nav-link { padding: 16px 24px; }
                header .navbar-collapse > .navbar-nav > .nav-item + .nav-item > .nav-link { border-top: 1px solid var(--border); }
            }
            @media (max-width: 399.99px){
                header .navbar-brand { width: 100px; }
            }

            .dropdown-toggle::after { content: "\f078"; font-family: var(--ff-FontAwesome); font-weight: 900; font-size: 0.6em; border: none; margin-left: 0.5em; }
            .dropdown-menu { border: none; padding: 10px 20px; border-radius: 0px 0px 15px 15px; }
            .dropdown-menu .dropdown-item { font-size: var(--fs-h4); padding: 6px 10px; text-align: center; }

            .dropdown-menu._menu { background: var(--primary); }
            .dropdown-menu._menu .dropdown-item { background: var(--primary); color: white; }
            @media (min-width: 992px){
                .dropdown-menu._menu > * + * { border-top: 1px solid white; }
            }
            @media (max-width: 991.98px){
                .dropdown-menu._menu { background: transparent; padding-top: 0; margin-top: 0; }
                .dropdown-menu._menu .dropdown-item { background: transparent; color: var(--dark); }
            }

            .dropdown-menu._lang { border: none; border-radius: 15px; background: rgba(255,255,255,0.9); min-width: auto; }
            .dropdown-menu._lang .dropdown-item { background: transparent; color: var(--dark); font-size: var(--fs-h5); }


        /*=== footer ===*/
            footer { position: relative; z-index: 10; margin-top: var(--footer-mt); background: white; border-radius: 25px 25px 0px 0px; padding: 15px 60px; font-size: var(--fs-h5); }
            footer .info_blocks { display: flex; flex-wrap: wrap; align-items: center; justify-content: center; row-gap: 10px; }
            footer .info_blocks > * { padding-inline: 24px; display: flex; align-items: center; white-space: nowrap; }
            footer .info_blocks > * + * { border-left: 1px solid var(--border); }
            footer .info_blocks > ._block1 {  }
            footer .info_blocks > ._block2 {  }

            @media (max-width: 1199.98px){
                footer { padding: 15px 0; }
            }
            @media (max-width: 991.98px){
                footer .info_blocks { justify-content: start; max-width: 350px; margin-inline: auto; }
                footer .info_blocks > ._block3 { border-left: 0; width: 100%; }
                footer .info_blocks > ._block4 { border-left: 0; width: 100%; }
            }
            footer .copyright { color: #A6A6A6; text-align: center; }



    /*====== [Current Page] ======*/
        /*=== index ===*/
            .index_banner_block { width: 100%; display: flex; align-items: center; justify-content: center; overflow: hidden; }
            .index_banner_block > img { min-width: 600px; }
            .index_opacity_pill_block { display: inline-block; padding: 16px 32px; border-radius: 100vmax; font-weight: bold; background: rgba(255,255,255,0.3); text-align: center; }
            .index_oval_section .oval_section_bg._full::after { display: none; }
            .index_oval_section .oval_body { min-height: unset; }
            .sponsors_block { padding: 16px 32px; display: flex; flex-wrap: wrap; justify-content: center; font-size: var(--fs-h5); border-radius: 100vmax; background: white; color: #666; }
            .sponsors_block > * { padding-inline: 32px; }
            .sponsors_block > * + * { border-left: 1px solid var(--border); }
            .sponsors_block ._logos { display: flex; align-items: center; justify-content: center; column-gap: 32px; height: 92px; }
            .sponsors_block ._logos_p {     
                display: inline-flex;
                align-items: center;
                justify-content: center;
                padding: 16px;
                font-size: 1.125rem;
                font-weight: bold;}
            @media (max-width: 1199.98px){
                .sponsors_block { max-width: 500px; margin-inline: auto; padding: 0px 24px; border-radius: 24px; column-gap: 36px; }
                .sponsors_block > * { padding: 16px 0; }
                .sponsors_block > * + * { border-left: 0; }
                .sponsors_block > ._block1 { width: 100%; border-bottom: 1px solid var(--border); }
                .sponsors_block > ._block2 {  }
                .sponsors_block > ._block3 {  }
            }
            @media (max-width: 991.98px){
                .sponsors_block ._logos { height: 60px; }
                .sponsors_block ._logos_p {font-size: .875rem; }
            }
            .index_deco_bling::before { top: 100px; }
            .index_deco_bling::after { top: 100px; }
            @media (max-width: 991.98px){
                .index_deco_bling::before { top: max(80px, 10vw); }
                .index_deco_bling::after { top: max(80px, 10vw); }
            }


        /*=== apply ===*/
            .submit_at_bottom { position: relative; bottom: 0%; left: 50%; transform: translateX(-50%); }
            .half_circle_submit_btn { width: 300px; height: 150px; clip-path: ellipse(50% 100% at 50% 110%); padding-top: 30px; background: var(--secondary) !important; display: flex; flex-direction: column; align-items: center; justify-content: center; font-size: 36px; font-weight: bold; color: white; }
            .half_circle_submit_btn:hover { scale: 1.05; }
            @media (max-width: 991.98px){
                .half_circle_submit_btn { font-size: 30px; width: 260px; height: 130px; }
            }


        /*=== intro ===*/
            .intro_img_block { --bg: #fff; border-radius: 15px; width: 100%; aspect-ratio: 4/3; background: var(--bg); overflow: hidden; }
            .intro_img_block > img { width: 100%; height: 100%; object-fit: cover; }

            .intro_section_activity.pill_section { background-position: left calc(100% - 150px), right 200px; }
            .intro_activity_img_block { position: relative; display: flex; flex-direction: column; align-items: center; justify-content: center; row-gap: 86px; margin-top: 24px; }
            .intro_activity_img_block > ._block { position: relative; width: 321px; aspect-ratio: 321/269; padding: 50px; display: flex; align-items: center; max-width: 100%; }
            .intro_activity_img_block > ._block::before { content: ''; position: absolute; width: 100%; height: 100%; bottom: -8px; right: -24px; background: url(../img/intro/point_shadow.png) center center no-repeat; background-size: contain; }
            .intro_activity_img_block > ._block::after { content: ''; position: absolute; width: 100%; height: 100%; inset: 0; border-radius: 100%; background: var(--primary); }
            .intro_activity_img_block > ._block > ._num { position: absolute; z-index: 1; inset: 0; max-width: 100%; width: 125px; left: -40px; top: -64px; }
            .intro_activity_img_block > ._block > ._txt { position: relative; z-index: 1; font-size: 18px; text-indent: 2em; color: white; display: flex; align-items: center; padding-block: 16px; }
            .intro_activity_img_block > ._block > ._txt::before,
            .intro_activity_img_block > ._block > ._txt::after { content: ''; display: block; position: absolute; background: #F6BD00; height: 2px; width: 45px; left: 50%; transform: translateX(-50%); }
            .intro_activity_img_block > ._block > ._txt::before { top: 0; }
            .intro_activity_img_block > ._block > ._txt::after { bottom: 0; }

            @media (min-width: 992px){
                .intro_activity_img_block > ._block:nth-child(1) { margin-right: auto; }
                .intro_activity_img_block > ._block:nth-child(2) { position: absolute; right: 0; top: 70px; }
            }

            @media (max-width: 991.98px){
                .intro_activity_img_block { margin: 24px; row-gap: 60px; }
                .intro_activity_img_block > ._block { width: 300px; padding: 42px; }
                .intro_activity_img_block > ._block > ._num { width: 110px; left: -30px; top: -52px; }
                .intro_activity_img_block > ._block > ._txt { font-size: 16px; }
                .intro_section_activity.pill_section { background-position: left calc(100% - 50px), right 50px; }
            }
            .intro_row_cols_2 { align-items: center; max-width: 900px; line-height: 1.77; margin-inline: auto; }



        /*=== ticket.html ===*/
            .ticket_time_title { font-size: 30px; text-align: center; display: flex; align-items: baseline; justify-content: center; }
            .ticket_time_title ._date { font-size: 48px; font-weight: bold; }
            @media (max-width: 991.98px){
                .ticket_time_title { font-size: 18px; flex-direction: column; align-items: center; }
                .ticket_time_title ._date { font-size: 36px; }
            }
            .ticket_block { display: flex; flex-direction: column; flex-wrap: wrap; justify-content: center; text-align: center; min-height: 350px; max-width: 400px; margin-inline: auto; }
            .ticket_block ._title { margin-bottom: -57px; font-size: 28px; font-weight: bold; }
            .ticket_block ._body { flex-grow: 1; font-size: 18px; z-index: 1; display: flex; flex-direction: column; align-items: center; justify-content: center; padding: 20px; background: var(--primary); border-radius: 15px; border: 3px solid #FFF; line-height: 1.77; }
            .ticket_block ._body._white { border-color: white; background: white; color: var(--dark); }
            .ticket_block ._body._vip { border-color: var(--secondary); background: var(--primary); color: white; }
            .ticket_block ._em { font-size: 1.3em; font-weight: bold; }

            .ticket_section_instruction { padding-bottom: 120px; }
            @media (max-width: 991.98px){
                .ticket_section_instruction { padding-bottom: 60px; }
            }


        /*=== FAQ_accordion ===*/
            .FAQ_accordion .accordion-item, 
            .FAQ_accordion .accordion-item:not(:first-of-type) { border: 2px solid var(--bs-accordion-border-color);; border-radius: 15px; overflow: hidden; }
            .FAQ_accordion .accordion-item + .accordion-item { margin-top: 16px; }
            .FAQ_accordion .accordion-button { background-color: var(--secondary); font-size: var(--fs-h4); color: white; font-weight: bold; }
            .FAQ_accordion .accordion-button.collapsed { background-color: color-mix(in srgb, var(--secondary), black 0%); }
            .FAQ_accordion .accordion-button:not(.collapsed) { background-color: color-mix(in srgb, var(--secondary), black 6%); }
            .FAQ_accordion .accordion-button::after { filter: brightness(0) invert(1); }
            .FAQ_accordion .accordion-button:hover { background-color: color-mix(in srgb, var(--secondary), black 12%); }
            .FAQ_accordion .accordion-button:not(.collapsed):hover { background-color: color-mix(in srgb, var(--secondary), black 18%); }



/*###### [Note] ######*/
/* Mobile() -> PC */
    @media (width >= 576px){} /* sm */
    @media (width >= 768px){} /* md */
    @media (width >= 992px){} /* lg */
    @media (width >= 1200px){} /* xl */
    @media (width >= 1400px){} /* xxl */

/* PC(xxl) -> Mobile */
    @media (width < 1400px){} /* xl */
    @media (width < 1200px){} /* lg */
    @media (width < 992px){} /* md */
    @media (width < 768px){} /* sm */
    @media (width < 576px){} /*  */