/*
Structure instruction：
    # [Default Css]
        - [Root Css]: :root { ... }
        - [Structure]: html, body, main, #wrap ...
        - [HtmlTag]: h1, a, ::-webkit-scrollbar ...

    # [Plugins]
        - [Plugins Modified]: Bootstrap Modals...
        - [Plugins SelfMade]: My Modals...

    # [Public Style]
        - [Simple Css]: typesetting, color ... ( Single Css )
        - [Elements]: button, checkbox, icon ... ( Simple Component )
        - [Components]: RWD_table, user_avatar ... ( Complex Components )

    # [Pages]
        - [Include Page]: header, footer
        - [Current Page]: #login, #about

    -- Author Comebuy
*/

@import url(https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;500;700&display=swap);
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/*######### [Default Css] #########*/
    /*====== [Root Css] ======*/
        :root {
            /* color */
            --primary: #D72873;
            --primary-hover: #D72873;
            --secondary: #F6A800;
            --dark: #292929;
            --border: #c9c9c9;

            /* font */
            --ff-default: 'Noto Sans TC';
            --fs-h1: 60px;
            --fs-h2: 48px;
            --fs-h3: 24px;
            --fs-h4: 20px;
            --fs-h5: 14px;
            --fs-p: 18px;
            --ff-FontAwesome: 'Font Awesome 5 Free';
            --comp-height: 50px;
            --header-height: 70px;
            --footer-mt: -16px;
        }

        @media (max-width: 991.98px){
            :root {
                --fs-h1: 36px;
                --fs-h2: 18px;
                --fs-h3: 18px;
                --fs-h4: 16px;
                --fs-h5: 12px;
                --fs-p: 14px;
                --comp-height: 46px;
                --header-height: 48px; 
            } 
        }


    /*====== [Structure] ======*/
        html { scroll-behavior: smooth; }
        body { font-family: 'Inter', var(--ff-default), 'Microsoft JhengHei', sans-serif; font-size: var(--fs-p); }
        #wrap { display: flex; flex-direction: column; margin-inline: auto; min-height: 100vh; min-height: 100dvh; max-width: 1920px; }
        @media (max-width: 991.98px){
            #wrap {overflow-x: hidden;}

        }
        main { flex-grow: 1; }


    /*====== [HtmlTag] =======*/
        a { color: var(--bs-dark); text-decoration: none; }
        a:hover { color: inherit; text-decoration: none; }
        label { margin-bottom: 0; }
        hr { opacity: 1; border-top-color: var(--border); }
        input[type=checkbox], input[type=radio] { accent-color: var(--dark); width: 1em; height: 1em; }
        h1, h2, h3, h4 { margin-bottom: 0; }


/*######### [Plugins] #########*/
    /*====== [Plugins Modified] ======*/
        /*=== Bootstrap ===*/
            .breadcrumb-item { --bs-breadcrumb-item-active-color: white; color: white; display: flex; align-items: center; }
            .breadcrumb-item a { color: white; }
            .breadcrumb-item + .breadcrumb-item::before { --bs-breadcrumb-divider-color: white; content: '\f054'; font-family: var(--ff-FontAwesome); font-weight: bold; font-size: 10px; vertical-align: middle; }
            button:focus { box-shadow: none !important; }
            .btn { 
                --bs-btn-focus-box-shadow: transparent; display: inline-flex; align-items: center; justify-content: center;
            }

            .form-label { border-left: 7px solid #F6BD00; padding-left: 8px; margin-bottom: 10px; line-height: 1.1; }
            .form-control { height: var(--comp-height); }


/*
            [class*="btn_"] {
                --default-color: ; --default-bg: ;
                --hover-color: ; --hover-bg: ;
                --bs-btn-color: var(--default-color); --bs-btn-bg: var(--default-bg); --bs-btn-border-color: var(--default-bg);
                --bs-btn-disabled-color: var(--default-color); --bs-btn-disabled-bg: var(--default-bg); --bs-btn-disabled-border-color: var(--default-bg);
                --bs-btn-hover-color: var(--hover-color); --bs-btn-hover-bg: var(--hover-bg); --bs-btn-hover-border-color: var(--hover-bg);
                --bs-btn-active-color: var(--hover-color); --bs-btn-active-bg: var(--hover-bg); --bs-btn-active-border-color: var(--hover-bg);
            }
            [class*="btn_outline_"] {
                --default-color: ; --default-bg: ;
                --hover-color: ; --hover-bg: ;
                --bs-btn-color: var(--default-color); --bs-btn-bg: transparent; --bs-btn-border-color: var(--default-color);
                --bs-btn-disabled-color: var(--default-color); --bs-btn-disabled-bg: transparent; --bs-btn-disabled-border-color: var(--default-color);
                --bs-btn-hover-color: var(--hover-color); --bs-btn-hover-bg: var(--hover-bg); --bs-btn-hover-border-color: var(--hover-bg);
                --bs-btn-active-color: var(--hover-color); --bs-btn-active-bg: var(--hover-bg); --bs-btn-active-border-color: var(--hover-bg);
            }
            .btn_custom { --default-bg: #e75a23; --default-color: white; --hover-bg: #bb4112; --hover-color: white; }
            .btn_outline_custom { --default-bg: white; --default-color: #e75a23; --hover-bg: #e75a23; --hover-color: white; }
            .btn_active_darker {
                --bs-btn-hover-border-color: color-mix(in srgb, var(--bs-btn-hover-bg), black 6%);
                --bs-btn-active-bg: color-mix(in srgb, var(--bs-btn-hover-bg), black 6%);
                --bs-btn-active-border-color: color-mix(in srgb, var(--bs-btn-hover-bg), black 12%);
            }
            .btn_active_lighter {
                --bs-btn-hover-border-color: color-mix(in srgb, var(--bs-btn-hover-bg), white 6%);
                --bs-btn-active-bg: color-mix(in srgb, var(--bs-btn-hover-bg), white 6%);
                --bs-btn-active-border-color: color-mix(in srgb, var(--bs-btn-hover-bg), white 0%);
            }
*/

    /*====== [Plugins SelfMade] ======*/
        /*=== js- ===*/
            


/*######### [Public Style] #########*/
    /*====== [Simple Css] ======*/
        /*=== typesetting ===*/
            .flex-center-a { display: flex; align-items: center; }
            .ch-gy-1 > *:not(:last-child) { margin-bottom: .25rem; }
            .ch-gy-2 > *:not(:last-child) { margin-bottom: .5rem; }
            .ch-gy-3 > *:not(:last-child) { margin-bottom: 1rem; }
            .ch-gy-4 > *:not(:last-child) { margin-bottom: 1.5rem; }



        /*=== color ===*/
        /*=== font ===*/
            .fs-h1 { font-size: var(--fs-h1); }
            .fs-h2 { font-size: var(--fs-h2); }
            .fs-h3 { font-size: var(--fs-h3); }


    /*====== [Elements] ======*/
        /*=== bg ===*/
            .bg_deco_block { position: absolute; left: 0; right: 0; bottom: 0; height: 360px; background: url(../img/bg_deco.png) center center no-repeat; background-size: cover; }


        /*=== deco ===*/
            .deco_bling_L { width: 76px; aspect-ratio: 1/1; background: url(../img/icon/bling-L.svg) center center no-repeat; background-size: contain; }
            .deco_bling_R { width: 76px; aspect-ratio: 1/1; background: url(../img/icon/bling-R.svg) center center no-repeat; background-size: contain; }
            @media (max-width: 991.98px){
                .deco_bling_L { width: 30px; background-image: url(../img/icon/bling-sm-L.svg); }
                .deco_bling_R { width: 30px; background-image: url(../img/icon/bling-sm-R.svg); }
            }

            .deco_pill { width: 650px; display: flex; flex-direction: column; row-gap: 120px; }
            .deco_pill::before, 
            .deco_pill::after { content: ''; position: relative; display: block; width: 100%; border-radius: 100vmax; background-color: rgba(0, 106, 255, 0.07); transform: rotate(-41deg); }
            .deco_pill::before { height: 230px; }
            .deco_pill::after { height: 140px; }
            @media (max-width: 991.98px){
                .deco_pill { row-gap: 60px; }
                .deco_pill::before { height: 130px; }
                .deco_pill::after { height: 70px; }
            }



    /*====== [Components] ======*/
        /*=== oval ===*/
        .oval_section_block { margin-top: -300px; }
        .oval_section { position: relative; color: white; background: top center no-repeat; background-size: 1920px auto; }
        @media (max-width: 991.98px){
            .oval_section { background-size: 1100px auto; }
        }

        .oval_section_primary { background-image: url(../img/oval-primary.png); height: 720px; }
        .oval_section_primary_full { background-image: url(../img/oval-primary.png), linear-gradient(to bottom, transparent 0%, transparent 300px, var(--primary) 300px); }
        .oval_section_secondary { background-image: url(../img/oval-secondary.png); height: 720px; }
        .oval_section_secondary_full { background-image: url(../img/oval-secondary.png), linear-gradient(to bottom, transparent 0%, transparent 300px, var(--secondary) 300px); }

        .oval_section .oval_body { position: relative; height: 100%; padding-block: min(10%, 120px) calc(-1 * var(--footer-mt)); min-height: 300px; }
        .oval_section .section_top_signboard { position: absolute; top: 0; left: 50%; transform: translate(-50%,-30%); }
        @media (max-width: 991.98px){
            .oval_section_primary, 
            .oval_section_secondary { min-height: 410px; height: auto; background-size: cover; }
            .oval_section .oval_body { padding-block: clamp(42px, 10%, 60px); }
        }

    
    /*=== signboard ===*/
        .signboard { display: inline-flex; align-items: center; justify-content: center; white-space: nowrap; height: 90px; font-size: var(--fs-h2); font-weight: bold; border: 5px solid var(--primary); border-radius: 100vmax; padding: 0 30px; background: white; color: var(--dark); }
        .signboard::before,
        .signboard::after { content: ''; display: block; margin-inline: 38px; width: 38px; height: 38px; background: center center no-repeat; background-size: contain; }
        
        .signboard_sm { height: 60px; font-size: var(--fs-h4); padding: 0 10px; }
        .signboard_sm::before,
        .signboard_sm::after { width: 20px; height: 20px; margin-inline: 20px; }

        .signboard_primary { border-color: var(--primary); }
        .signboard_primary::before,
        .signboard_primary::after { background-image: url(../img/icon/DiamondStar-primary.svg); }

        .signboard_secondary { border-color: var(--secondary); }
        .signboard_secondary::before,
        .signboard_secondary::after { background-image: url(../img/icon/DiamondStar-secondary.svg); }

        @media (max-width: 991.98px){
            .signboard { height: 42px; padding: 0 8px; border-width: 3px; }
            .signboard::before,
            .signboard::after { margin-inline: 12px; width: 20px; height: 20px; }
        }


    /*=== banner_block ===*/
        .banner_block { min-height: 700px; width: 100%; aspect-ratio: 11/6; display: flex; flex-direction: column; align-items: center; justify-content: center; overflow: hidden; padding-block: min(10%, 200px) min(30%, 350px); max-height: 800px;
            background: center bottom no-repeat; background-size: cover; background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(../img/other.jpg); color: white; }
        .banner_title { font-size: var(--fs-h1); font-weight: bold; margin-bottom: .5rem; }
        @media (max-width: 991.98px){
            .banner_block { background-position: top center; background-size: 170%; padding-block: 0 300px; min-height: 470px; margin-bottom: -300px; }
        }



/*######### [Pages] #########*/
    /*====== [Include Page] ======*/
        /*=== header ===*/
            header { position: fixed; display: flex; top: 0; left: max(0px, calc((100% - 1920px) / 2)); right: 0; width: min(100%, 1920px); z-index: 11; }
            header > .navbar { height: var(--header-height); margin-left: auto; display: inline-flex; background: white; border: 3px solid var(--primary); border-right: 0; border-radius: 100vmax 0 0 100vmax; margin-top: 40px; padding: 0 24px; }
            header .navbar-brand { position: absolute; width: 180px; top: 0; left: 16px; border-radius: 0 0 100vmax 100vmax; background: white; padding: 15px 20px 35px 20px; 
                box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25); backdrop-filter: blur(10px); z-index: 9; }
            .header_icons_group { display: flex; padding-left: 16px; }
            .header_icons_group > * { margin-left: 8px; }
            .header_icon { --size: 40px; display: flex; align-items: center; justify-content: center; width: var(--size); height: var(--size); border-radius: 100vmax; }
            .header_icon._lang { border: 2px solid var(--primary); color: var(--primary); font-weight: bold; width: auto; padding-inline: 12px; }

            .navbar-collapse > .navbar-nav > .nav-item > .nav-link { display: inline-flex; align-items: center; justify-content: center; color: var(--primary); padding: 16px; font-size: 20px; font-weight: bold; }
            .navbar-collapse > .navbar-nav > .nav-item > .nav-link::before { content: ''; display: block; margin-right: 6px; width: 20px; height: 20px; background: url(../img/icon/DiamondStar-primary.svg) center center no-repeat; }
            .navbar-toggler { border: 0; padding: 4px; margin-left: 12px; }
            @media (max-width: 991.98px){
                header { position: sticky; }
                header > .navbar { width: 100%; border: 0; border-radius: 0; margin-top: 0px; padding-inline: 0; }
                header .header_icon { --size: 32px; }
                header .navbar-brand { width: 120px; padding: 10px 15px 25px 15px; }
                header .navbar-collapse { position: fixed; top: var(--header-height); left: 0; right: 0; padding-inline: 16px; background: white; border-radius: 0 0 24px 24px; background-color: rgba(255,255,255,0.95); }
                header .navbar-collapse > .navbar-nav > .nav-item { text-align: center; }
                header .navbar-collapse > .navbar-nav > .nav-item > .nav-link { padding: 16px 24px; }
                header .navbar-collapse > .navbar-nav > .nav-item + .nav-item > .nav-link { border-top: 1px solid var(--border); }
            }
            @media (max-width: 399.99px){
                header .navbar-brand { width: 100px; }
            }

            .dropdown-toggle::after { content: "\f078"; font-family: var(--ff-FontAwesome); font-weight: 900; font-size: 0.6em; border: none; margin-left: 0.5em; }
            .dropdown-menu { border: none; padding: 10px 20px; border-radius: 0px 0px 15px 15px; }
            .dropdown-menu .dropdown-item { font-size: var(--fs-h4); padding: 6px 10px; text-align: center; }

            .dropdown-menu._menu { background: var(--primary); }
            .dropdown-menu._menu .dropdown-item { background: var(--primary); color: white; }
            @media (min-width: 992px){
                .dropdown-menu._menu > * + * { border-top: 1px solid white; }
            }
            @media (max-width: 991.98px){
                .dropdown-menu._menu { background: transparent; padding-top: 0; margin-top: 0; }
                .dropdown-menu._menu .dropdown-item { background: transparent; color: var(--dark); }
            }

            .dropdown-menu._lang { border: none; border-radius: 15px; background: rgba(255,255,255,0.9); min-width: auto; }
            .dropdown-menu._lang .dropdown-item { background: transparent; color: var(--dark); font-size: var(--fs-h5); }
            

            

        /*=== footer ===*/
            footer { position: relative; z-index: 10; margin-top: var(--footer-mt); background: white; border-radius: 25px 25px 0px 0px; padding: 15px 60px; font-size: var(--fs-h5); }
            footer .info_blocks { display: flex; flex-wrap: wrap; align-items: center; justify-content: center; row-gap: 10px; }
            footer .info_blocks > * { padding-inline: 24px; display: flex; align-items: center; white-space: nowrap; }
            footer .info_blocks > * + * { border-left: 1px solid var(--border); }
            footer .info_blocks > ._block1 {  }
            footer .info_blocks > ._block2 {  }

            @media (max-width: 1199.98px){
                footer { padding: 15px 0; }
            }
            @media (max-width: 991.98px){
                footer .info_blocks { justify-content: start; max-width: 350px; margin-inline: auto; }
                footer .info_blocks > ._block3 { border-left: 0; width: 100%; }
                footer .info_blocks > ._block4 { border-left: 0; width: 100%; }
            }

            .copyright { color: #A6A6A6; text-align: center; }


    /*====== [Current Page] ======*/
        /*=== index ===*/
            .index_banner_block { width: 100%; display: flex; align-items: center; justify-content: center; overflow: hidden; }
            .index_banner_block > img { min-width: 600px; }
            .opacity_pill_block { display: inline-block; padding: 16px 32px; border-radius: 100vmax; font-weight: bold; background: rgba(255,255,255,0.3); text-align: center; }

            .sponsors_block { padding: 16px 32px; display: flex; flex-wrap: wrap; justify-content: center; font-size: var(--fs-h5); border-radius: 100vmax; background: white; color: #666; }
            .sponsors_block > * { padding-inline: 32px; }
            .sponsors_block > * + * { border-left: 1px solid var(--border); }
            .sponsors_block ._logos { display: flex; align-items: center; justify-content: center; column-gap: 32px; height: 92px; }
            .sponsors_block ._logos_p {     
                display: inline-flex;
                align-items: center;
                justify-content: center;
                padding: 16px;
                font-size: 1.125rem;
                font-weight: bold;}

            @media (max-width: 1199.98px){
                .sponsors_block { max-width: 500px; margin-inline: auto; padding: 0px 24px; border-radius: 24px; column-gap: 36px; }
                .sponsors_block > * { padding: 16px 0; }
                .sponsors_block > * + * { border-left: 0; }
                .sponsors_block > ._block1 { width: 100%; border-bottom: 1px solid var(--border); }
                .sponsors_block > ._block2 {  }
                .sponsors_block > ._block3 {  }
            }
            @media (max-width: 991.98px){
                .sponsors_block ._logos { height: 60px; }
                .sponsors_block ._logos_p {font-size: .875rem; }
            }

            .index_deco_pos_L { position: absolute; left: max(calc((100% - 800px) / 4), 5vw); top: 100px; }
            .index_deco_pos_R { position: absolute; right: max(calc((100% - 800px) / 4), 5vw); top: 100px; }
            @media (max-width: 991.98px){
                .index_deco_pos_L { top: max(80px, 10vw); }
                .index_deco_pos_R { top: max(80px, 10vw); }
            }


        /*=== apply ===*/
            .submit_at_bottom { position: relative; bottom: 0%; left: 50%; transform: translateX(-50%); }
            .half_circle_submit_btn { width: 300px; height: 150px; clip-path: ellipse(50% 100% at 50% 110%); padding-top: 30px; background: var(--secondary) !important; display: flex; flex-direction: column; align-items: center; justify-content: center; font-size: 36px; font-weight: bold; color: white; }
            .half_circle_submit_btn:hover { scale: 1.05; }
            @media (max-width: 991.98px){
                .half_circle_submit_btn { font-size: 30px; width: 260px; height: 130px; }
            }

            .apply_deco_pos_L { position: absolute; left: max(calc((100% - 700px) / 4), 5vw); top: 350px; }
            .apply_deco_pos_R { position: absolute; right: max(calc((100% - 700px) / 4), 5vw); top: 700px; }
            @media (max-width: 991.98px){
                .apply_deco_pos_L { top: max(80px, 15vw); }
                .apply_deco_pos_R { top: max(80px, 15vw); }
            }


        /*=== intro ===*/
            .intro_img_block { --bg: #fff; border-radius: 15px; width: 100%; aspect-ratio: 4/3; background: var(--bg); overflow: hidden; }
            .intro_img_block > img { width: 100%; height: 100%; object-fit: cover; }

            .intro_deco_pill_pos_L { position: absolute; left: -300px; bottom: 150px; }
            .intro_deco_pill_pos_R { position: absolute; right: -300px; top: 350px; }
            @media (max-width: 991.98px){
                .intro_deco_pill_pos_L { left: -450px; bottom: 150px; }
                .intro_deco_pill_pos_R { right: -450px; top: 50px; }
            }

            .intro_section_activity { position: relative; overflow: hidden; background: #F1F8FF; padding-top: 340px; padding-bottom: 360px; margin-top: -300px; z-index: -1; }
            .intro_activity_img_block { position: relative; height: 740px; display: flex; flex-direction: column; align-items: center; justify-content: center; row-gap: 30px; margin-top: 24px; }
            .intro_activity_img1 { width: auto; max-width: 100%; position: absolute; left: 0; top: 0px; }
            .intro_activity_img2 { width: auto; max-width: 100%; position: absolute; right: 0; top: 70px; }
            .intro_activity_img3 { width: auto; max-width: 100%; position: absolute; left: 50%; top: 360px; transform: translateX(-50%) }
            @media (max-width: 991.98px){
                .intro_activity_img_block { height: auto; }
                .intro_activity_img1 { width: 320px; position: static; }
                .intro_activity_img2 { width: 320px; position: static; }
                .intro_activity_img3 { width: 320px; position: static; transform: none; }
            }
            .intro_row_cols_2 { align-items: center; max-width: 900px; line-height: 1.77; margin-inline: auto; }


            /*=== ticket.html ===*/
                .ticket_block { display: flex; flex-direction: column; flex-wrap: wrap; justify-content: center; text-align: center; }
                .ticket_block ._title {  }
                .ticket_block ._body { flex-grow: 1; margin-top: -57px; padding: 20px; background: var(--primary); border-radius: 15px; border: 3px solid #FFF; z-index: 1; }
                .ticket_block ._body._white { background: white; color: var(--dark); }

                .ticket_time_title { font-size: 30px; text-align: center; }
                .ticket_time_title ._date { font-size: 48px; }
                


/*###### [Note] ######*/
/* Mobile() -> PC */
    @media (width >= 576px){} /* sm */
    @media (width >= 768px){} /* md */
    @media (width >= 992px){} /* lg */
    @media (width >= 1200px){} /* xl */
    @media (width >= 1400px){} /* xxl */

/* PC(xxl) -> Mobile */
    @media (width < 1400px){} /* xl */
    @media (width < 1200px){} /* lg */
    @media (width < 992px){} /* md */
    @media (width < 768px){} /* sm */
    @media (width < 576px){} /*  */